<footer>
  <div class="container">
    <p class="mozillamx-logo"></p>
    <div class="socials">
      <a class="icon-facebook-squared" href="https://www.facebook.com/mozillamx" target="_blank"></a>
      <a class="icon-twitter" href="https://twitter.com/mozillamx" target="_blank"></a>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="assets/js/script.js"></script>
